<?xml version='1.0' encoding='utf-8'?>
<plugin
  xmlns="http://apache.org/cordova/ns/plugins/1.0"
  id="cordova-plugin-speech-recognition-feat-siri"
  version="2.0.5">
  <name>Speech Recognition feat. Siri</name>
  <description>Cordova Plugin Speech Recognition feat. Siri</description>
  <author>SOHKAKUDO Ltd.</author>
  <license>MIT</license>
  <keywords>cordova, speech-recognition, iOS, Siri API</keywords>
  <repo></repo>
  <issue></issue>

  <js-module src="www/SpeechRecognitionksp.js" name="SpeechRecognitionksp">
    <clobbers target="SpeechRecognitionksp" />
  </js-module>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="SpeechRecognitionksp">
        <param name="ios-package" value="CDVSpeechRecognition"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <source-file src="src/ios/CDVSpeechRecognition.swift" />
    <source-file src="src/ios/CDVSpeechRecognitionViewController.swift" />
	<config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
		<string>Save image to photo lib</string>
	</config-file>
	<config-file target="*-Info.plist" parent="NSCameraUsageDescription">
		<string>Capture image to use for scanning QR Code and storing splashscreen</string>
	</config-file>
	<config-file target="*-Info.plist" parent="NSSpeechRecognitionUsageDescription">
		<string>React with blind people</string>
	</config-file>
  </platform>
</plugin>
